---

# Run ansible-playbook gccemacs-playbook.yml --connection=local --inventory 127.0.0.1,

- name: Setup system software
  hosts: all
  become: true
  tasks:
    - name: Install apt packages
      apt:
        update_cache: true
        pkg:
          - build-essential
          - cmake
          - fd-find
          - jq
          - libgccjit-11-dev
          - libgif-dev
          - libgnutls28-dev
          - libgtk-3-dev
          - libjansson-dev
          - libncurses-dev
          - libtool
          - libtree-sitter-dev
          - libvterm-dev
          - libxpm-dev
          - markdown
          - ripgrep
          - shellcheck
          - shfmt
        state: present
#  when: ansible_os_family == 'Debian'

# Run Git Config
# git config --global init.defaultBranch main
# Build Emacs
# Install doom emacs
# Install dotfiles
# Setup Zsh
# Setup Powershell100000
# Install Python Tools
#  - Conda
#  - Ruff

- name: Setup dotfiles
  hosts: all
  tasks:
  - name: Get home directory
    shell: >
      getent passwd {{ user }} | cut -d: -f6
    changed_when: false
    register: user_home

  - name: create .condarc
    template:
      src: .condarc
      dest: "{{ user_home/.condarc }}"

  - name: Git checkout
    git:
      repo: 'https://github.com/dgerlanc/dotfiles.git'
      dest: "~/code"
      version: main


# Install go
# go install github.com/fatih/gomodifytags@latest
